extends layout

block content
    div.card-container
        a(href="/turn?choice=rock") rock
        br
        a(href="/turn?choice=paper") paper
        br
        a(href="/turn?choice=scissors") scissors
        br
