extends layout

block content
    div.card-container
        div.card Player Choice
            img(src=`/images/${playerChoice}-icon.png`)

        p VS
        div.card PC Choice
            img(src=`/images/${pcChoice}-icon.png`)

    h3 Winner: #{winner}

    a(href=`/`) Play Again